html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 80vw;

    padding: 0px;

    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}

.header {
    border-bottom-style: solid;
    height: 8vh;
}

.chat-window {
    height: 70vh;
    overflow: scroll;
}

.bubble {
    text-align: left;
    border-radius: 15px;
    margin: 10px;
    max-width: 75%;
    width: fit-content;
    padding: 10px;
}

p {
    margin: 10px;
}

.bubble.user {
    margin-left: auto;
    background-color: #f2f2f2;
    border-bottom-right-radius: 0px;
}

.bubble.chatter {
    margin-right: auto;
    background-color: #c8d8e4;
    border-bottom-left-radius: 0px;
}

.input-window {
    border-top-style: solid;
    height: 8vh;
}

.text-input {
    margin: 10px;
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-color: #000;
}

input.text-input {
    width: 80%;
}

button:hover {
    scale: 105%;
}

button:active {
    scale: 100%;
}

input:focus {
    outline: #2b6777;
    margin: 10px;
    padding: 15px;
}