html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80vw;

    padding: 0px;

    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}

.header {
    border-bottom-style: solid;
}

.chat-window {
    height: 80vh;
    overflow: scroll;
}

.bubble {
    text-align: left;
    border-radius: 15px;
    margin: 10px;
    max-width: 75%;
    width: fit-content;
    padding: 10px;
}

p {
    margin: 10px;
}

.bubble.user {
    margin-left: auto;
    background-color: #f2f2f2;
    border-bottom-right-radius: 0px;
}

.bubble.chatter {
    margin-right: auto;
    background-color: #c8d8e4;
    border-bottom-left-radius: 0px;
}